body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.header {
  border-bottom: 1px solid #EAEAEA;

  h3, p {
    margin: 0;
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  position: relative;
  border-radius: 10px;
  display: flex;
  padding: 0 15px;

  .clear {
    position: absolute;
    right: 0;
    top: 6px;
    cursor: pointer;
  }

  input {
    border: none;
    padding: 13px;
    font-size: 16px;
  }
}

.greenButton {
  font-size: 16px;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 100%;
  font-weight: 500;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;


  &:hover {
    background-color: lighten(#9DD558, 5%);
  }

  .arrowLeft {
    transform: rotateY(180deg) translateX(15px);
  }

  &:active {
    background-color: darken(#9DD558, 5%);
  }

}

